body {
   
   background: rgb(233, 232, 239);
   color: rgb(143, 110, 110);   
   text-align: center;
   font-family: "Arial";
   font-size: 20px;
   margin: 0;
   padding: 100; 

}

#cabecera
{
   background: rgba(13, 13, 176, 0.958);
   box-shadow: 0px 5px 200px 0px rgb(0, 0, 0);
   color: rgba(241, 233, 233, 0.886);  
   font-weight: absolute;
   font-size: larger;
   margin: 0;
   padding: 0.5em;
    
}

#cabecera #logo
{
   width: 180px;
   vertical-align: length;
   text-align: left;
}


#cabecera #tagline
{
   padding: 0 0 0 6em;
   box-shadow: 0px 8px 200px 10px rgba(0, 0, 0, 0.675);
   font-weight: normal;
   font-size: 1em;
}

#container
{
   width: 80%;
   padding: 10;
   text-align: left;
   border: 1px solid rgba(84, 234, 9, 0.626); 
   margin: 0 auto;
}

#container h1 
{
   background-color: rgba(127, 150, 168, 0.349);
   font-size: 20px;
   color: rgba(182, 172, 172, 0.886);
}


#post
{   
   background: rgb(18, 18, 136);
   padding: 0.7em;
   box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.619);
   color: rgb(0, 0, 0) ;  
   font-weight: bold;
   margin: 00;
   font-size: inherit;
   
}