:root {
    --oxford-blue: rgb(10 25 47);
    --cool-grey: rgb(136 146 176);
    --aquamarine: rgb(100 255 218);
    --periwinkle-crayola: rgb(204 214 246);
    --black: rgb(20 20 20);
    --dark-grey: rgb(29 29 29);
    --white: rgb(255 255 255);
    --erin: rgb(34 252 81);
    --sky-blue-crayola: rgb(26 203 233);
    --black: rgb(0 0 0);
    --raisin-black: rgb(40 40 41);
    --carmen-green: rgb(151 245 0);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 5rem;
}

.projects {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.section {
    padding-top: 6rem;
    padding-bottom: 4rem;
    padding-left: 2.8rem;
    padding-right: 1rem;
}
.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
    display: block;
}
body {
    overflow-x: hidden;
    color: var(--dark-grey);
}
a{
    color: var(--carmen-green);
    transition: all 0.5s ease-out;
    text-decoration: none;
}
  
a:hover{
    opacity: 0.75;
}
  
h1{
    margin: 0;
    font-size: 5rem;
}
  
h2{
    margin: 0;
    font-size: 2.2rem;
    color: var(--dark-grey);
}
  
h3{
    margin: 0;
    font-size: 1.8rem;
}
  
h4{
    margin: 0;
    font-size: 1rem;
}
  
h5{
    margin: 0;
    font-size: 0.85rem;
}
  
h6{
    margin: 0;
    font-size: 0.7rem;
}
  
p{
    line-height: 1.6rem;
}
  
  
  
  
  /* Efectos */
  
.fadeTop {
    opacity: 0; 
    transform: translate(0, 10vh);
    transition: all 1s;
}
  
.fadeRight {
    opacity: 0;
    transform: translate(10vh, 0vh);
    transition: all 1s;
}
  
.fadeLeft {
    opacity: 0;
    transform: translate(-10vh, 0vh);
    transition: all 1s;
}
    
.visible {
    opacity: 1;
    transform: translate(0, 0);
}
  
.none{
    display: none;
}
  
/* Barra de navegaci칩n */
  
header{
    display: flex;
    justify-content: space-around;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: .5rem;
    height: var(--header-height);
    color: var(--white);
    background-color: var(--raisin-black);
}
  
.logo{
    object-fit: cover;
    width: 60px;
    height: 60px;
    animation-name: logo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
@keyframes logo{
    0%{
    opacity: 0;
    transform: translateX(-200px);
  }
  
100%{
    opacity: 1;
    transform: translateX(0px);
    }
}
  
header p{
    margin-top: .7rem;
    line-height: 1rem;
    font-weight: bold;
}
  
.menu-btn{
    outline: thin-solid var(--carmen-green);
    border: 0;
    cursor: pointer;
    background-color: var(--raisin-black);
}
  
.menu-btn svg{
    fill: var(--carmen-green);
    width: 2.8rem;
    height: 2.8rem;
}
  
.menu{
    position: fixed;
    top: var(--header-height);
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--raisin-black);
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
}
  
.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}
  
.menu a{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--carmen-green);
}
  
.menu a:hover{
    color: var(--white);
    background-color: var(--carmen-green);
}
  
/* Cuerpo de la p치gina */

.section{
    padding-top: 6rem;
    padding-bottom: 4rem;
    padding-left: 2.8rem;
    padding-right: 1rem;
}
  
.home{
    max-width: 1200px;
}
  
.home p{
    margin-top: 20px;
    font-size: 1.2rem;
}
  
/* About me */
  
.about-me-container-all{
    max-width: 1200px;
}
 
.about-me-container-all h3{
    border-bottom: thin solid var(--carmen-green);
    margin-bottom: 2rem;
}
  
.about-me-text p{
    font-size: 1.2rem;
}
  
/* Skills list */
  
.skills-list{
    display: grid;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
  
.skill{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid var(--carmen-green);
}
  
/* Flip card */
  
.flip-card-container{
    display: flex;
    margin: 2rem auto;
}
  
.flip-card{
    background: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
}
  
  .flip-card-inner{
    position:relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front{
    background-image: linear-gradient(45deg, var(--carmen-green), var(--dark-grey));
  }
  
  .flip-card-front img{
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
  }
  
  .flip-card-front img:hover{
    filter: none
  }
  
  .flip-card-back{
    background-image: linear-gradient(45deg, var(--carmen-green), var(--dark-grey));
    color: var(--white);
    transform: rotateY(180deg);
  }
  
  .flip-card-back img{
   margin-top: 35%;
  }
  
/* Portfolio */
  
  .portfolio-card{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .portfolio-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .portfolio-card-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0.6rem;
    background-color: var(--carmen-green);
    color: var(--black);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
  }
  
  .portfolio-card:hover .portfolio-card-info{
    opacity: 1;
    pointer-events: auto;
  }
  
  .portfolio-card-info .project-title{
    font-weight: bold;
  }
  
  .portfolio-card-info > div{
    padding: 1rem;
    border: thin solid var(--black);
  }
  
  .portfolio-card-info > div > h3{
    margin-bottom: 0;
    color: var(--oxford-blue);
  }
  
/* Projects */
  
  .projects{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
  }
  
  .projects h3{
    border-bottom: thin solid var(--carmen-green);
    margin-bottom: 2rem;
  }
  
  .projects-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .projects-container .project{
    width: 100%;
    display: list-item;
    box-shadow: 0 10px 10px 0 var(--black);
    border-radius: 10px;
    list-style: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  
  .projects-container .project:hover{
    transform: translateY(-10px);
  }
  
  .project-bottom{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .project-bottom li{
    list-style: none;
    font-weight: bold;
  }
  
 /* Modal */
  
  .modal-container{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 214, 246, 0.7);
    transition: all 1s;
    padding: 0.6rem;
  }
  
  .modal{
    position: relative;
  }
  
  .modal-close{
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    cursor: pointer;
  }
  
  .modal-close svg{
    width: 3rem;
    height: 3rem;
    fill: var(--carmen-green);
    cursor: pointer;
  }
  
  .portfolio-modal{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    justify-content: center;
  }
  
  .portfolio-modal img{
    max-width: 50%;
    object-fit: contain;
  }
  
  .portfolio-modal h3{
    border-bottom: medium solid var(--carmen-green);
    padding: .5rem 0;
    margin: 1rem auto;
    color: var(--dark-grey);
  }
  
  .portfolio-modal{
    flex-direction: row;
  }
  
  .portfolio-details{
    display: grid;
    grid-template-columns: 32% 80%;
    grid-auto-rows: 1.5rem;
  }
  
  .portfolio-details a{
    color: blue;
    font-weight: bold;
  }
  
  .portfolio-details b{
    color: var(--carmen-green);
  }
  
  .modal-none{
    display: none;
  }

  /* Iconos */
  
  .icons-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    bottom: 100px;
  }
  
  .icons-container a img{
    margin-bottom: 10px;
  }
  
  .icons-container a img:hover{
    transform: scale(1.3);
  }

  /* CSS Whatsapp Chat */
  
  #whatsapp-chat {
    position: fixed;
    background: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    bottom: 90px;
    right: 30px;
    overflow: hidden;
    z-index: 99;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
  }
  
  a.blantershow-chat {
    background: var(--carmen-green);
    color: var(--dark-grey);
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 98;
    bottom: 60px;
    right: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  }
  
  a.blantershow-chat svg {
    transform: scale(1.2);
    margin: 0 10px 0 0;
  }
  
  .header-chat {
    background: #095e54;
    color: #fff;
    padding: 20px;
  }
  
  .header-chat .head-home p {
    font-size: 20px;
    text-align: center;
  }
  
  .header-chat p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }
  
  .info-avatar {
    position: relative;
  }
  
  .info-avatar img {
    width: 60px;
    float: left;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: 30px;
  }
  
  .info-avatar:before {
    content: "\f232";
    z-index: 1;
    font-family: "Font Awesome 5 Brands";
    background: #23ab23;
    color: #fff;
    padding: 4px 5px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 40px;
  }
  
  .info-chat span {
    display: block;
  }
  
  #get-label,
  span.chat-label {
    font-size: 14px;
    color: #888;
  }
  
  #get-nama,
  span.chat-nama {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #222;
  }
  
  #get-label,
  #get-nama {
    color: #fff;
  }
  span.my-number {
    display: none;
  }
  
  .blanter-msg {
    color: #444;
    padding: 20px;
    font-size: 12.5px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  
  textarea#chat-input {
    border: none;
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 20px;
    outline: none;
    resize: none;
  }
  
  a#send-it {
    color: #555;
    width: 40px;
    margin: -5px 0 0 5px;
    font-weight: 700;
    padding: 8px;
    background: #eee;
    border-radius: 10px;
  }
  
  .first-msg {
    background: #f5f5f5;
    padding: 30px;
    text-align: center;
  }
  
  .first-msg span {
    background: #e2e2e2;
    color: #333;
    font-size: 14.2px;
    line-height: 1.7;
    border-radius: 10px;
    padding: 15px 20px;
    display: inline-block;
  }
  
  .start-chat .blanter-msg {
    display: flex;
  }
  
  #get-number {
    display: none;
  }
  
  a.close-chat {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #fff;
    font-size: 30px;
  }
  
  @keyframes showhide {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
  }
  
  @keyframes showchat {
    from {
        transform: scale(0);
        opacity: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
  }
  
  .hide {
    display: none;
    animation-name: showhide;
    animation-duration: 1.5s;
    transform: scale(1);
    opacity: 1;
  }
  
  .show {
    display: block;
    animation-name: showhide;
    animation-duration: 1.5s;
    transform: scale(1);
    opacity: 1;
  }

  /* Footer */
  
  footer{
    width: 100%;
    margin-top: 80px;
    background-color: var(--raisin-black);
    box-shadow: -2px -6px 10px 5px var(--white);
    text-align: center;
    font-weight: bold;
    color: var(--white);
  }
  
  .footer-container{
    width: 100%;
    padding: 10px;
  }

  @media only screen and (min-width: 1024px){
    /* Barra de navegaci칩n */
  
    .logo{
      width: 70px;
      height: 70px;
    }
  
    header p{
      margin-top: .85rem;
    }
  
    .menu.is-active{
      opacity: 1;
      pointer-events: auto;
    }
  
    .about-me-container-all h3{
      text-align: center;
    }
  
    .about-me-container{
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 1rem;
      align-items: center;
    }
  
    .skills-list{
      display: grid;
      grid-template-columns: repeat(2, 100%);
      order: 2;
      padding: 2rem;
    }
  
  
    /* Projects */
  
    .projects h3{
      text-align: center;
    }
  
    .projects-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .portfolio-modal{
      max-width: 600px;
    }
    
    .portfolio-modal img{
      max-width: 50%;
      object-fit: contain;
    }
  }
  
  
  
  
  
  
  
  
  @media only screen and (min-width: 1024px){
  /* Barra de navegaci칩n */
  
    header{
      display: flex;
      justify-content: space-around;
    }
  
    .logo{
      width: 70px;
      height: 70px;
    }
  
    header p{
      margin-top: 1.5rem;
      margin-left: -15rem;
    }
  
    header p br{
      display: none;
    }
  
    .menu-btn{
      display: none;
    }
  
    .menu{
      position: static;
      width: auto;
      flex-direction: row;
      opacity: 1;
      pointer-events: auto;
    }
  
    .menu a{
      padding: 1rem 1rem;
    }
  
    .menu a:hover{
      color: var(--white);
      background-color: transparent;
    }
  
    .home{
      margin: 0 auto;
    }
  
    .about-me-container-all{
      margin: 0 auto;
    }
  
    .about-me-container-all h3{
      text-align: center;
    }
  
    .about-me-container{
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 1rem;
      align-items: center;
    }
  
    .skills-list{
      grid-template-columns: repeat(3, 60%);
      padding: 0;
    }
  
    /* Projects */
  
    .projects-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  
  
    .portfolio-modal{
      max-width: 950px;
      flex-wrap: nowrap;
    }
    
    .portfolio-modal img{
      max-width: 40%;
      object-fit: contain;
      margin-right: 20px;
    }
  }
  
  
  
  

