body {
   background: rgb(239, 237, 235);
   color: rgb(51, 51, 51);   
   text-align: center;
   font-family: "Arial";
   font-size: 26px;
   margin: 0;
   padding: 10; 
}

#cabecera
{
   background: rgb(33, 33, 169) ;
   box-shadow: 0px 0px 100px 0px rgb(0, 0, 0);
   color: rgb(255, 253, 253);  
   font-size: larger;
   margin: 0;
   padding: 0.5em;
    
}

#cabecera #logo
{
   width: 150px;
   vertical-align: length;
   text-align: left;
}

#cabecera #tagline
{
   padding: 0 0 0 8 em;
   font-weight: normal;
   font-size: 1em;
}

#container
{
   width: 80%;
   padding: 10;
   text-align: cantre;
   border: 1px solid rgba(0, 0, 0, 0.375); 
   margin: 0 auto;
}

#container h1 
{
   font-size: inherit;
}

#post
{   
   background: rgba(255, 232, 21, 0.982);
   padding: 1em;
   box-shadow: 0px 0px 100px 0px rgb(0, 0, 0);
   color: rgb(33, 33, 169) ;  
   font-weight: bold;
   margin: 00;
   
}