#Aqui estan todos los archivos para que el Usuario de GitHub no los vea,por lo general son la imagenes al ser binarias, pero tambien pueden ser llaves privadas etc.. Todo aquello que no quieres que alguien se llebe va en este file, ok? Para subir una imagen es bueno tenerla en un lugar externo como en https://imgur.com/ para compartirla desde ay para evitar que te hackeen la pc.


